body {
  background-color: rgb(188, 178, 178);

  font-family: 'Roboto Mono', monospace;
}

h1 {
  color: rgb(42, 42, 45);
  font-weight: lighter;
}

.todoTasksContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 2rem;

  background-color: white;

  height: 32rem;
  width: 32rem;
  border-radius: 5%;
}

.inputElement {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.inputTask,
.addButton {
  height: 3rem;

  border-radius: 5%;
  border-style: none;
}

.inputTask {
  background-color: rgb(240, 240, 240);
  padding: 0 0 0 0.5rem;
}

.inputTask:hover,
.addButton:hover {
  opacity: 50%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

  cursor: pointer;
  border: 1px solid black;
}

.newTaskElement {
  list-style-type: none;
}

.newTask li {
  list-style-type: none;
}

hr.solid {
  border-top: 1px solid rgb(240, 240, 240);
  width: 30rem;
}

.hidden {
  display: none;
}

.doneTasksContainer {
  display: flex;
  flex-direction: column;

  color: grey;
  text-decoration: line-through;
}

.doneTaskElement {
  display: flex;
  flex-direction: row;
  align-items: center;

  list-style-type: none;
}

.deleteIcon {
  opacity: 50%;
  height: 0.8rem;
}

input[type='checkbox']:hover,
.deleteIcon:hover {
  cursor: pointer;
  opacity: 20%;
}
